#ev-roulette {
	margin: 0;
	padding: 20px 0;
	font-family: sans-serif;
	height: 160px;
	width: 600px;
	overflow: hidden;
	background: #000;
	position: relative;
}

#ev-target {
	position: absolute;
	top: 0;
	left: 300px;
	width: 3px;
	height: 200px;
	background: #a30041;
	z-index: 1100;
}

#ev-weapons {
	height: 160px;
	white-space: nowrap;
	position: relative;
}

.ev-weapon {
	display: inline-block;
	width: 200px;
	height: 160px;
}

.ev-weapon-inner {
	width: 195px;
	height: 160px;
	position: relative;
	background: #1e212a;
	margin-right: 5px;
}

.ev-weapon-rarity {
	width: 5px;
	height: 160px;
	background: rgba(255, 255, 255, 0.5);
	position: absolute;
	left: 0;
	top: 0;
}

.ev-weapon-rarity.ev-weapon-rarity-milspec {
	background: #4b69ff;
}

.ev-weapon-rarity.ev-weapon-rarity-restricted {
	background: #8847ff;
}

.ev-weapon-rarity.ev-weapon-rarity-classified {
	background: #d32ce6;
}

.ev-weapon-rarity.ev-weapon-rarity-covert {
	background: #eb4b4b;
}

.ev-weapon-rarity.ev-weapon-rarity-rare {
	background: #ffd700;
}

.ev-weapon-rarity.ev-weapon-rarity-uncommon {
	background: #ddd;
}

.ev-weapon-inner img {
	width: 120px;
	height: 90px;
	position: absolute;
	top: 10px;
	left: 40px;
}

.ev-weapon-text {
	position: absolute;
	top: 110px;
	left: 5px;
	width: 190px;
	height: 50px;
	background: #1b1c25;
}

.ev-weapon-text p {
	height: 15px;
	line-height: 15px;
	color: #e4e4e4;
	font-size: 12px;
	margin: 0;
	padding: 0 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ev-weapon-text p:first-child {
	margin-top: 10px;
}
